<div class="row">
  <div class="col-12 col-md-9 pr-0">
    <%= render 'home/tab' %>
    
    <div class="card m-4">
      <div class="card-body">
        <p class="card-title">THOUGHTS ABOUT SOMETHING</p>
        <form>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
        </form>
      </div>
    </div>

    <div class="card m-4">
      <div class="card-body">
        <h5 class="card-title">New thoughts</h5>
        <hr>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block col-md-3 border-left full-screen-right">
    <div>
      <p class="m-3">Who to follow</p>
    </div>
    <hr>
  </div>
  
</div>