<div class="row">
  <div class="col-12 col-md-8 pr-0">
    <%= render  "layouts/flash" %>
    
    <div class="card m-4">
      <div class="card-body messages d-flex justify-content-center align-items-center">
        <p>Please select a conversation on the right.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 border-left full-screen-right">
    <div>
      <p class="m-3">Conversations:</p>
    </div>
    <hr>
    <div class="home">
    
    </div>
  </div>
  
</div>
