<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="row">
  <div class="col-12 col-md-8 pr-0">
    <%= render  "layouts/flash" %>
    
    <div class="card m-4">
      <div class="card-body messages d-flex flex-column justify-content-center align-items-center">
        <p>Please select a conversation on the right.</p>
        <p>If the conversation tab is empty, you need to follow someone to start chatting.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 border-left full-screen-right">
    <div>
      <p class="mt-3 mb-1 ml-3">Conversations:</p>
    </div>
    <hr class="m-0">
    <div class="home">
      <ul class="list-group list-group-flush">
        <% @rooms.each do |room| %>
          <li class="list-group-item" id="room-<%= room.id %>">
            <%= link_to  room_colleague_name(room), room_path(room), class: "black-color under-line" %>
            <% if room_unread_messages(room) > 0 %>
              <span class='badge badge-primary'><%= room_unread_messages(room) %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
</div>
