@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "*";

@media only screen and (min-width: 768px) {
  .full-screen {
    min-height: 100vh;
  }

  .full-screen-right {
    min-height: 88vh;
  }
}

.vl {
  border-left: 1px solid #222;
  height: 70px;
}

.list-group-item {
  background-color: #343a40;
  color: #eee;
  border: none;
  border-radius: 0px;
}

#list-tab > * {
  border-radius: 0px;
}

body {
  overflow-x: hidden;
}

.link-tab {
  color: #111;
}